.footer {
    width: 1920px;
    height: 400px;

    &__title {
        img {
            max-width: 1920px;
            height: 400px;
            position: absolute;
        }
    }

    &__items {
        position: relative;
        z-index: 10;
        display: flex;
    }

    &__item-1 {
        position: relative;
        z-index: 10;

        h1{
            font-family: Playfair Display;
            text-transform: uppercase;
            padding-top: 80px;
            padding-left: 405px;
            @include fontStyle(#FFF, 24px);
        }

        p {
            font-family: PT Sans;
            line-height: 150%; /* 21px */
            width: 350px;
            margin-top: 40px;
            margin-left: 405px;
            @include fontStyle(#FFF, 14px);
        }

    }

    &__item-2 {
        h2 {
            font-family: Playfair Display;
            text-transform: uppercase;
            padding-top: 80px;
            padding-left: 30px;
            @include fontStyle(#FFF, 24px);
        }

        span {
            font-family: PT Sans;
            line-height: 150%; /* 21px */
            @include fontStyle(#D0D0D0, 14px);
        
        
            background: #0F0F0F;
            display: inline-flex;
            padding: 10px 20px;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            margin-left: 31px;
        }
    }

    &__item-3 {
        display: flex;
        margin-left: 31px;
        margin-top: 30px;
        gap: 20px;
    }
    
    &__text-1 {
        p {
            display: flex;
            font-family: PT Sans;
            line-height: 150%; /* 21px */
            @include fontStyle (#D0D0D0, 14px,);
        
        
            background: #0F0F0F;
            display: inline-flex;
            padding: 10px 20px;
            align-items: center;
            gap: 10px;
        }
    }

    &__item-4 {
        display: flex;
        margin-left: 31px;
        margin-top: 20px;
        gap: 20px;
    }

    &__text-2 {
        p {
            display: flex;
            font-family: PT Sans;
            line-height: 150%; /* 21px */
            @include fontStyle ( #D0D0D0, 14px,);
        
        
            background: #0F0F0F;
            display: inline-flex;
            padding: 10px 20px;
            align-items: center;
            gap: 10px;
        }
    }

    &__item-5 {
        h3 {
            font-family: Playfair Display;
            text-transform: uppercase;
            margin-top: 100px;
            margin-left: 92px;
            @include fontStyle (#FFF, 24px,);
        }

        p {
            font-family: PT Sans;
            line-height: 150%; /* 21px */
            width: 350px;
            margin-top: 40px;
            margin-left: 92px;
            @include fontStyle (#FFF, 14px,);
        }

        img{
            width: 210px;
            height: 42px;
            margin-top: 37px;
            margin-left: 92px;
        }

    }

    &__item-5black {
        font-family: PT Sans;
        line-height: 150%; /* 21px */
        letter-spacing: 0.7px;
        text-transform: uppercase;
        @include fontStyle (#FFF, 14px,);
    
        background: #0F0F0F;
        display: inline-flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        margin-top: 38px;
        margin-left: 302px;
    }
}